/0002_Leichte_Sprache.txt
/0002_Standardsprache.txt
/0007_Leichte_Sprache.txt
/0007_Standardsprache.txt
/0021_Leichte_Sprache.txt
/0021_Standardsprache.txt
/0022_Leichte_Sprache.txt
/0022_Standardsprache.txt
/0054_Leichte_Sprache.txt
/0054_Standardsprache.txt
/0196_Leichte_Sprache.txt
/0196_Standardsprache.txt
/0197_Leichte_Sprache.txt
/0197_Standardsprache.txt
/0202_Leichte_Sprache.txt
/0202_Standardsprache.txt
